body {
    margin: 0;
    background-color: #20803E;
  }
  
  #game-screen {
    background-color: lightgoldenrodyellow;
    border: 5px solid black;
    border-radius: 10px;
  }
  
  #start-btn, 
  #restart-btn, 
  #inst-btn, 
  #home-btn {
    background-color: #05531E;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
  }

  #score-show {
    background-color: #05531E;
    color: white;
    padding: 5px;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 10px; 
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
  #game-screen, 
  #gameover-screen, 
  #score-show, 
  #inst-screen,
  #winner-screen {
    display: none;
  }

  #start-btn {
    margin-right: 50px;
  }

  #initial-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  }

  #splash-screen img {
    border: 5px solid black;
    border-radius: 15px;
  }

  #winner-screen img {
    border: 5px solid black;
    border-radius: 15px;
  }
 